name: you_dart
description: "dart lib, for data basic tools such as jsonã€yaml serialization ."
version: 0.0.6-dev.3
homepage: https://github.com/chen56/you
repository: https://github.com/chen56/you

environment:
  sdk: '>=3.4.0 <4.0.0'
  flutter: '>=3.22.0'

# Add regular dependencies here.
dependencies:
  flutter:
    sdk: flutter
  meta: ^1.12.0
  collection: ^1.18.0
  _you_dart_internal: ^0.0.6-dev.3

dev_dependencies:
  test: ^1.24.0
  flutter_test:
    sdk: flutter

  checks: ^0.3.0

dependency_overrides:
  #  dart CHANGELOG 3.0.0 2023-05-10
  #   - dart pub publish will no longer warn about dependency_overrides.
  #     Dependency overrides only take effect in the root package of a resolution.
  #   - ref: https://github.com/dart-lang/sdk/blob/main/CHANGELOG.md
  _you_dart_internal:
    path: ../_you_dart_internal
