---
interface Props {
    title: string;
}

const {title} = Astro.props;

// import MdiGithub from '~icons/mdi/github';

// primereact的样式，必须加
import "primereact/resources/themes/lara-light-indigo/theme.css";
import "primereact/resources/primereact.min.css";
import "primeicons/primeicons.css";

---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="kou cloud apps"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="generator" content={Astro.generator}/>
    <title>{title}</title>
</head>
<body>

<main>
    <div class="sticky top-0 navbar bg-blue-950 text-neutral-content">
        <div class="navbar-start">
            <a class="link link-hover text-xl">Kou</a>
        </div>
        <div class="navbar-end">
            <a class="link link-hover text-xl" target="_blank" href="https://github.com/chen56/kou">
                <!--<MdiGithub class="hover:text-red-400" width="32" height="32"/>-->
            </a>

        </div>
    </div>

    <div class="flex">
        <!--h-dvh 使左边栏占满viewport所有有效高度-->
        <div class="min-w-48 bg-base-200 h-dvh">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/providers">提供器Provider</a></li>
            </ul>
        </div>
        <!--
        设置内容区域单独滚动，必须要让内容区域实际高度小于可显示高度：
        比如:
        <div style="height:500px;overflow-y: scroll;" class="bg-red-100">
            <div style="height:1000px;" class="bg-blue-100">很长的内容。。。</div>
        </div>

        所以设置下列class：
        h-dvh 高度viewport最大（y轴必须）
        overflow-y-scroll y轴滚动（y轴必须）
        scroll-smooth 平滑滚动（可选）

        style="overflow-y: unset;height: 600px"
        -->
        <div class="w-dvw h-dvh  overflow-y-scroll scroll-smooth" style="overflow-y: scroll ;">
            <slot/>
        </div>
        <!--<span class="flex-none min-w-48    bg-base-200  ">nav right</span>-->
    </div>
</main>


</body>
</html>