# This is a basic workflow to help you get started with Actions
name: mirror-gitee

# Controls when the workflow will run
on: [push, delete]

# update
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v1
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url:
            git@gitee.com:younpc/note.git
          ssh_private_key:                                # <-- use 'secrets' to pass credential information.
            ${{ secrets.ID_ED25519_GITEE_YOUNPC }}